<!doctype html>
<title>Upload</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Graph visualization - upload</h1>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<section>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file> <br/>
        <label for="password">Password: </label>
        <input type=password name=password id=password required/> <br/>
        <input type=submit value=Upload>
    </form>
</section>