html { 
  font-family: sans-serif; 
  background: #eee; 
  padding: 1rem; 
}
body { 
  margin: 0 auto; 
}
section { 
  margin: 0 auto; 
  background: white; 
  height:100vh;
}
h1 {
   font-family: serif; 
   color: #377ba8; 
   text-align: center;
}
nav { 
  background: lightgray; 
  padding: 0 0.5rem; 
}
nav h1 { 
  margin: 0;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}
.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
.label {
  font-size: 0.75em;
}
#iframe {
  float: left;
  width:40%;
  height:600px;
  margin-top: 20px;
  margin-left:20px;
}
#graph{
  float:right;
  display:block;
  margin-right: 20px;
}
#list{
  float:right;
  margin-right: 120px;
  margin-top: 20px;
  margin-bottom: 10px;
}